# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
*.xcworkspace
.vs/
.idea/
*.log

# Local generated Content (keep folder)
Content/Holypaw/Maps/
Content/Holypaw/__ExternalActors__/
Content/Holypaw/__ExternalObjects__/

# OS
.DS_Store
Thumbs.db
